{{ include('pages/layout/header.html.twig') }}

<div class="container">
    <h1>Contact Table</h1>

    <div class="row">
        <a href="{{ absolute_url(asset('')) }}post" class="btn btn-primary">Create</a>
    </div>


    {% for flashMessage in app.session.flashbag.get('message') %}
        <div class="row">
            <div class="alert alert-success" role="alert">
                {{ flashMessage }}

            </div>
        </div>

    {% endfor %}


    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">TelNo</th>
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for person in contacts %}
            <tr>
                <th scope="row">{{ person.id }}</th>
                <td>{{ person.fname }}</td>
                <td>{{ person.lname }}</td>
                <td>{{ person.telno }}</td>
                <td>{{ person.email }}</td>
                <td><a href="{{ absolute_url(asset('')) }}post/updatecontact/{{  person.id }}" class="btn btn-secondary">Update</a> <a href="{{ absolute_url(asset('')) }}post/deletecontact/{{  person.id }}" class="btn btn-danger">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>


{{  include('pages/layout/footer.html.twig') }}